// Color names provided by colorhexa.com
$black: #000000;
$dark-lime-green: #64A364;
$light-grayish-lime-green: #e9f9ea;
$mostly-white-grey: #f7f7f7;
$soft-red: #ee4957;
$very-light-gray: #e5e5e5;
$very-dark-grayish-blue: #44484c;
$very-pale-red: #ffe4e4;
$vivid-red: #f20505;
$white: #ffffff;
$cornflower-blue: #0794E3;
$alto: #DADADA;
$azure-radiance: #0990F7;

// Font sizes
$font-lg: 24px;
$font-md: 16px;
$font-sm: 14px;
$font-xs: 12px;
$font-lato-bold-weight: 700;