@import '../../styles/variables';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 250px;

  .not-found-message {
    font-size: 30px;
    font-weight: 200;
  }
}
