@import '../../../../styles/variables';

.image-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  width: 100%;

  .heart-icon {
    position: relative;
    top: -32px;
    left: 172px;
    cursor: pointer;
  }

  .dogs-image {
    width: 200px;
    height: 200px;
    border: 1px solid $mostly-white-grey;
    border-radius: 6px;
    max-width: 100%;
  }

  @media (max-width: 2560px) {
    grid-column-gap: 60px;
  }

  @media(max-width: 1690px) {
    grid-column-gap: 32px;
  }

  @media(max-width: 1280px) {
    grid-column-gap: 66px;
  }

  @media(max-width: 980px) {
    grid-column-gap: 80px;
  }

  @media(max-width: 736px) {
    grid-column-gap: 164px;
  }
}
